@import "//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css";
@import "//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css";

.coluna-dados-bancários {
  min-width: 320px;
}

.col-data-confirmacao {
  min-width: 120px;
  text-align: center;
}

.col-data-lancamento {
  min-width: 120px;
  text-align: center;
}

.col-numero{
  min-width: 420px;
  text-align: center;
}


.col-valor-final {
  min-width: 120px;
  text-align: right;

}
